[submodule "labs/programmability"]
	path = labs/programmability
	url = https://github.com/f5devcentral/f5-automation-labs.git
[submodule "labs/dns"]
	path = labs/dns
	url = https://github.com/f5devcentral/f5-agility-labs-dns.git
[submodule "labs/vdi"]
	path = labs/vdi
	url = https://github.com/f5devcentral/f5-agility-labs-vdi.git
[submodule "labs/ddos"]
	path = labs/ddos
	url = https://github.com/f5devcentral/f5-agility-labs-ddos.git
[submodule "labs/firewall"]
	path = labs/firewall
	url = https://github.com/f5devcentral/f5-agility-labs-firewall.git
[submodule "labs/public-cloud"]
	path = labs/public-cloud
	url = https://github.com/f5devcentral/f5-agility-labs-public-cloud.git
[submodule "labs/irules"]
	path = labs/irules
	url = https://github.com/f5devcentral/f5-agility-labs-irules.git
[submodule "labs/waf"]
	path = labs/waf
	url = https://github.com/f5devcentral/f5-agility-labs-waf.git
[submodule "lab/kubernetes"]
	path = labs/kubernetes
	url = https://github.com/f5devcentral/f5-agility-labs-kubernetes.git
[submodule "labs/iam"]
	path = labs/iam
	url = https://github.com/f5devcentral/f5-agility-labs-iam.git
[submodule "labs/kubernetes"]
	path = labs/kubernetes
	url = https://github.com/f5devcentral/f5-agility-labs-kubernetes.git
[submodule "labs/private-cloud"]
	path = labs/private-cloud
	url = https://github.com/f5devcentral/f5-agility-labs-private-cloud.git
