f5_sphinx_theme
pre-commit
recommonmark
sphinx
importlib-metadata
sphinx-js
jinja2>=3.1.5
sphinx-copybutton
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-serializinghtml>=1.1.5
awscli
boto3
s3transfer


# Code Change to allow more flexibility.
#f5_sphinx_theme
#pre-commit
#recommonmark
#sphinx==4.5
#importlib-metadata==4.8.3
#sphinx-js==3.0.1
#jinja2==2.11.3
#sphinx-copybutton
#sphinxcontrib-blockdiag
#sphinxcontrib-nwdiag
#sphinxcontrib-serializinghtml>=1.1.5
#awscli
#boto3
#s3transfer
